body {
	box-sizing: border-box;
}

#container {
	height: 600px;
	width: 860px;
	padding-left: 0;
    padding-right: 0;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#screen {
	float:left;
	height: 600px;
	width: 600px;
	border: solid gray 2px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 10px;
    display: block;
}

#control-panel {
	float: left;
	height: 600px;
	width: 240px;
	border: solid gray 2px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

